{% extends 'vacanciesAnalysisApp/statistics.html'%}
{% load static %}

{% block pageName %}География{% endblock %}
{% block imgs %}
<img class="img" src="{% static 'vacanciesAnalysisApp/img/Уровень зарплат по городам.png' %}" alt="">
<img class="img" src="{% static 'vacanciesAnalysisApp/img/Доля вакансий по городам.png' %}" alt="">
{% endblock %}
{% block tables %}
<div class="tables">
  <div class="table">
    <table class="tableByCity">
      <tr>
        {%  for heading in salaryHeadings%}
        <th>
          {{heading.verbose_name}}
        </th>
        {% endfor %}
      </tr>
      {%  for data in salaryStatisticsData %}
      <tr>
        <td>{{data.salaryAreaName}}</td>
        <td>{{data.avgSalaryByArea}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="table">
    <table class="tableByCity">
      <tr>
        {%  for heading in ratioHeadings %}
        <th>
          {{heading.verbose_name}}
        </th>
        {% endfor %}
      </tr>
      {%  for data in ratioStatisticsData%}
      <tr>
        <td>{{data.countAreaName}}</td>
        <td>{{data.ratioByArea}}%</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
