{% extends 'vacanciesAnalysisApp/base.html'%}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'vacanciesAnalysisApp/css/mainStyle.css' %}">
{% endblock %}

{% block mainContent %}
<div class="main__heading">
  <div class="main-heading__internal">
    <h1>Специалист по&nbsp;информационной безопасности. Что делает, сколько зарабатывает и&nbsp;востребован&nbsp;ли он?</h1>
  </div>
</div>
<section class="profession">
  <div class="container profession__container">
    <div class="desc profession__desc">
      <div class="introduction">
        <p>Специалист по&nbsp;информационной безопасности&nbsp;&mdash; не&nbsp;самая простая, зато востребованная ИТ-профессия. Она пугает множеством терминов и&nbsp;своеобразных инструментов, хотя на&nbsp;деле доступна людям без технического бэкграунда. Изучив&nbsp;ИБ, вы&nbsp;будете работать с&nbsp;государственными корпорациями, банками, средним и&nbsp;крупным бизнесом, облачными сервисами и&nbsp;стартапами. Проще говоря, везде, где есть вероятность взлома.</p>
        <p>В&nbsp;этой статье подробно рассказываем, кто такой специалист по&nbsp;информационной безопасности, чем он&nbsp;занимается, сколько зарабатывает и&nbsp;как им&nbsp;стать. Бонусом&nbsp;&mdash; подборка книг для знакомства с&nbsp;профессией.</p>
      </div>
      <div class="who">
        <h2>Кто такой специалист по&nbsp;ИБ сейчас</h2>
        <p>Обычно под специалистом по&nbsp;информационной безопасности подразумевают человека, который может внедрить и&nbsp;поддерживать защиту от&nbsp;несанкционированного доступа. Настроить сеть, предусмотреть ошибки и&nbsp;потенциальные баги, развернуть и&nbsp;запустить технологии мониторинга подключений.</p>
        <p>Но есть и более узкие специальности уже внутри сферы:</p>
        <ul>
          <li><span>Пентестеры</span>&nbsp;&mdash; так называемые &laquo;белые&raquo;, или &laquo;этичные&raquo; хакеры. Они не&nbsp;взламывают ресурсы бизнеса незаконно. Вместо этого они работают на&nbsp;компании и&nbsp;ищут уязвимости, которые потом исправляют разработчики. Бывает, такие люди трудятся на&nbsp;окладе, или участвуют в&nbsp;программах Bug Bounty&nbsp;&mdash; когда бизнес просит проверить их&nbsp;защиту, обещая за&nbsp;найденные баги премию.</li>
          <li><span>Специалисты по&nbsp;разработке</span>&nbsp;&mdash; такие специалисты участвуют создании приложений и&nbsp;программ. Проще говоря, изучают архитектуру и&nbsp;готовый код и&nbsp;подсказывают, что здесь может быть ошибка или &laquo;форточка&raquo; для взлома. Банальный пример&nbsp;&mdash; оставить в&nbsp;форме ввода сайта возможность отправить SQL-инъекцию.</li>
          <li><span>Специалисты по сетям</span>&nbsp;&mdash; они ищут возможные потенциальные и&nbsp;известные уязвимости в&nbsp;аппаратных и&nbsp;сетевых комплексах. Проще говоря, знают, как с&nbsp;помощью Windows, Linux или других систем злоумышленник может попасть в&nbsp;ваш компьютер и&nbsp;установить нужное ПО. Могут как найти возможность взлома, так и&nbsp;создать систему, в&nbsp;которую будет сложно попасть.</li>
        </ul>
        <p>Есть ещё один вариант деления специалистов:</p>
        <ul>
          <li>Те, кто взламывает, и&nbsp;неважно, что именно, сети или программы. Их&nbsp;специализация&nbsp;&mdash; поиск ошибок и&nbsp;уязвимостей, этичный хакинг.</li>
          <li>Те, кто строит и&nbsp;поддерживает систему защиты. Именно этот вариант сейчас подразумевают работодатели, когда ищут специалистов по&nbsp;ИБ.</li>
        </ul>
        <p>Такое деление&nbsp;&mdash; условное. Например, в&nbsp;небольшом бизнесе по&nbsp;разработке мобильных приложений специалист по&nbsp;ИБ будет заниматься всем циклом, начиная от&nbsp;разработки и&nbsp;заканчивая внедрением. А&nbsp;в&nbsp;крупной облачной корпорации вы&nbsp;можете работать только с&nbsp;Kubernetes, не&nbsp;трогая больше ничего.</p>
        <p>Специалист по&nbsp;информационной безопасности сейчас&nbsp;&mdash; этот тот, кто внедряет систему защиты в&nbsp;компанию и&nbsp;поддерживает её&nbsp;от&nbsp;попыток проникнуть извне.</p>
        <p>Из-за неустоявшихся терминов есть небольшая путаница и&nbsp;в&nbsp;названиях вакансий&nbsp;&mdash; компании ищут специалистов по&nbsp;информационной безопасности, администраторов защиты, инженеров безопасности компьютерных сетей и&nbsp;другие названия, подразумевая одного и&nbsp;того&nbsp;же специалиста.</p>
      </div>
      <div class="occupation">
        <h2>Чем занимаются специалисты по&nbsp;информационной безопасности</h2>
        <p>Главные задачи специалиста по&nbsp;ИБ&nbsp;&mdash; настраивать инструменты для защиты и&nbsp;мониторинга, писать скрипты для автоматизации процессов, время от&nbsp;времени проводить пентесты, чувствуя себя хакером. Следить за&nbsp;общими показателями системы и&nbsp;администрировать средства защиты информации.</p>
        <ul>
          <li>Изучить систему информационной безопасности в&nbsp;компании, разобраться, где есть явные уязвимости.</li>
          <li>Посмотреть общую ситуацию, узнать, кто в&nbsp;принципе может заинтересоваться взломом компании.</li>
          <li>Составить программу внедрения защиты. Решить, что исправлять сначала&nbsp;&mdash; например, настроить протоколы доступа, прописать скрипты защиты, настроить систему генерации паролей.</li>
          <li>Разобраться с&nbsp;продуктом&nbsp;&mdash; найти уязвимости в&nbsp;коде, составить техническое задание на&nbsp;устранение.</li>
          <li>Провести оценку системы защиты&nbsp;&mdash; провести согласованные атаки на&nbsp;сетевые ресурсы.</li>
          <li>Проанализировать мониторинг&nbsp;&mdash; узнать, кто интересовался системой, какими способами, как часто.</li>
          <li>Внедрить защиту для особо слабых узлов.</li>
        </ul>
        <p>Плюс сферы ИБ&nbsp;&mdash; вы&nbsp;можете проработать несколько лет, но&nbsp;так и&nbsp;не&nbsp;столкнуться с&nbsp;чем-то неизвестным и&nbsp;непонятным. Конечно, точной статистики нет, но&nbsp;обычно все уязвимости и&nbsp;способы взлома известны.</p>
        <p>Условно, порядка 80&ndash;90% времени работы занимает защита от&nbsp;уже известных способов взлома. Еще&nbsp;10%&nbsp;&mdash; это что-то новое, что ещё не&nbsp;прописали в&nbsp;методичках и&nbsp;документации.</p>
        <p>Специалист по&nbsp;ИБ&nbsp;&mdash; это не&nbsp;всегда творческая профессия. Обычно наоборот, не&nbsp;нужно ничего выдумывать и&nbsp;изобретать велосипед. Специалист берёт готовый чеклист или инструкцию, а&nbsp;затем внедряет систему защиты. Тестирует&nbsp;её, находит баги, исправляет&nbsp;их. И&nbsp;затем новая итерация.</p>
      </div>
      <div class="becoming">
        <p>Путь в&nbsp;профессию специалиста по&nbsp;информационной безопасности похож на&nbsp;стандартный для ИТ&nbsp;&mdash; сначала курсы или самообучение, затем стажировка и&nbsp;перевод на&nbsp;полноценную работу.</p>
        <p>Судя по&nbsp;отзывам инженеров на&nbsp;профессиональных площадках, для старта в&nbsp;профессии достаточно 9&ndash;12&nbsp;месяцев, из&nbsp;которых полгода занимает обучение на&nbsp;курсах.</p>
        <h3>Нужен&nbsp;ли технический бэкграунд</h3>
        <p>Опыт работы в&nbsp;ИТ и&nbsp;программировании не&nbsp;нужен&nbsp;&mdash; это особая профессия на&nbsp;стыке системного администрирования, разработки и&nbsp;консалтинга. Конечно, если вы&nbsp;начинающий разработчик или инженер, будет проще&nbsp;&mdash; разбираться в&nbsp;общих принципах процессов в&nbsp;ИТ не&nbsp;придётся. Но&nbsp;ненамного, потому что в&nbsp;любом случае в&nbsp;ИБ есть масса своих тонкостей и&nbsp;технологий.</p>
        <p>Идеальный план обучения в&nbsp;сфере ИБ&nbsp;&mdash; минимум теории и&nbsp;максимум практики. Просто изучить список популярных уязвимостей бесполезно, нужно попробовать внедрить защиту от&nbsp;них в&nbsp;рабочий продукт и&nbsp;столкнуться с&nbsp;ограничениями системы.</p>
        <h3>Нужен&nbsp;ли английский язык</h3>
        <p>На&nbsp;старте хорошее знание языка необязательно&nbsp;&mdash; достаточно понимать необходимый минимум, чтобы не&nbsp;потеряться в&nbsp;интерфейсе программы и&nbsp;читать документацию с&nbsp;Google-переводчиком.</p>
        <p>Но&nbsp;затем в&nbsp;языке стоит потренироваться. Качественная литература, журналы, блоги и&nbsp;форумы по&nbsp;информационной безопасности в&nbsp;основном зарубежные, хорошие переводы на&nbsp;русский появляются не&nbsp;сразу. Чтобы быть постоянно &laquo;в&nbsp;теме&raquo;, придется обращаться к&nbsp;первоисточникам.</p>
        <p>Выбирая курсы обучения по&nbsp;ИБ, обратите внимание, включены&nbsp;ли в&nbsp;них занятия по&nbsp;техническому английскому языку. На&nbsp;таких занятиях вы&nbsp;не&nbsp;будете тратить время на&nbsp;отработку посторонних тем вроде отпуска, кулинарии или чего-то ещё, не&nbsp;имеющего отношения к&nbsp;ИТ. Вместо этого познакомитесь со&nbsp;специальной лексикой, которую используют в&nbsp;тестировании, разработке и&nbsp;чтении документации.</p>
      </div>
      <div class="skills">
        <h2>Что нужно знать для старта работы</h2>
        <p>Проблема многих курсов, которые готовят специалистов по&nbsp;информационной безопасности&nbsp;&mdash; акцент на&nbsp;одном из&nbsp;направлений сферы:</p>
        <ul>
          <li><span>Много теории.</span>Например, на&nbsp;курсах рассказывают много про особенности проектирования, про возможные уязвимости, но&nbsp;нет практических заданий. Это плохо&nbsp;&mdash; важно, чтобы вы&nbsp;могли сразу попробовать атаковать или защищаться.</li>
          <li><span>Только сети</span>&mdash;&nbsp;если посмотреть на&nbsp;структуру таких курсов, то&nbsp;окажется, что это учёба для системных администраторов. Ничего плохого в&nbsp;этой профессии нет, но&nbsp;она всё-таки отличается от&nbsp;специалиста по&nbsp;ИБ. Сисадмин настраивает сеть, заботится о&nbsp;работоспособности парка техники, даже настраивает процесс</li>
          <li><span>Только взлом</span>&mdash;&nbsp;на&nbsp;таких курсах много практической информации, и&nbsp;это хорошо. Но&nbsp;не&nbsp;забывайте, что сейчас работодатель платит в&nbsp;основном за&nbsp;внедрение защиты, а&nbsp;не&nbsp;только за&nbsp;пентесты.</li>
        </ul>
      <p>Если вы&nbsp;планируете строить карьеру в&nbsp;сфере информационной безопасности, стоит поискать курсы, на&nbsp;которых учат полноценному внедрению системы защиты. Плюс учат использовать уязвимости для пентестов. И&nbsp;обязательно рассказывают о&nbsp;том, как всё это делать законно&nbsp;&mdash; нужно разобраться в&nbsp;нормативной базе и&nbsp;особенностях законодательства.</p>
      <p>То&nbsp;есть и&nbsp;законам, и&nbsp;настройкам сети, и&nbsp;хакингу, и&nbsp;защите от&nbsp;взломов.</p>
      <h3>Стек навыков</h3>
      <p>Вот примерный список того, что нужно знать и&nbsp;уметь для старта:</p>
      <ul>
        <li>Настроить сетевой стек.</li>
        <li>Провести аудит системы, проанализировать, какое место уязвимое.</li>
        <li>Атаковать сетевые ресурсы популярными способами и&nbsp;настроить систему защиты от&nbsp;таких атак.</li>
        <li>Настроить систему мониторинга и&nbsp;систему предупреждения о&nbsp;проблемах</li>
        <li>Учитывать человеческий фактор в&nbsp;построении защиты</li>
      </ul>
      <p>Кроме этого, пригодится понимание криптографических и&nbsp;других методов защиты. Плюс разберитесь в&nbsp;нормативно-правовых актах в&nbsp;сфере&nbsp;ИБ, сфере ответственности государственных структур (ФСТЭК, ФСБ, Министерство Обороны, ЦБ).</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
